html, body { height: 100%; }
body {
    margin: 0;
    background: radial-gradient(rgb(235, 240, 241), rgb(144, 213, 243));
    overflow: hidden;
}

#Info {
  margin-left: auto;
  margin-right: auto;
  color: #cbf7f393;
  font-size: 15px;
  font-weight: bolder;
  color: #f30808;
  border-radius: -100px;
}

